appdirs==1.4.0
av==0.3.0
Cython==0.25.2
ipaddress==1.0.18
msgpack-python==0.4.8
ndsi==0.2.14
numexpr==2.6.1
numpy==1.12.0
packaging==16.8
psutil==5.0.1
pyglui==1.2
pylsl==1.10.3
PyOpenGL==3.1.0
pyparsing==2.1.10
pyre==0.3
pyzmq==16.0.2
scipy==0.18.1
six==1.10.0
uvc==0.91
